@import '/Styles/CSS-Reset.css';

/* GLOBAL STYLES */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "Share Tech", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* GLOBAL LAYOUT */

/* COMPONENTS */

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff5e4;
  font-size: 1.5rem;
  height: 6rem;
  font-family: "Share Tech", sans-serif;
  padding: 1rem 1rem 1rem 1rem;
}

/* nav left part */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo__image {
  width: 5rem;
  position: relative;
}

input#activate-player {
  display: none;
}

.music__player {
  position: absolute;
  width: 100vw;
  top: 5.5rem;
  left: -1rem;
  list-style: none;
  visibility: hidden;
}

#activate-player:checked ~ .music__player {
  visibility: visible;
}

/* nav right part */

#nav-menu {
  display: none;
}

.nav__hamburger img {
  width: 3rem;
  position: relative;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 6rem;
  width: 100vw;
  right: 0;
  background-color: #fff5e4;
  padding: 2rem 1rem 2rem 1rem;
}

.nav__list a:hover {
  text-decoration: underline;
}

.nav__item1, .nav__item2, .nav__item3  {
  border-bottom: 1px solid rgb(161, 161, 161);
  padding-bottom: 2rem;
}

