@import '/Styles/CSS-Reset.css';
@import '/Styles/Global-Layout.css';
@import '/Styles/Global-Styles.css';

/* COMPONENTS */

.gallery{
  display: grid;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  margin: 1rem auto 3rem;
  grid-template-columns: 1fr;
}

.gallery__item{
  max-width: 600px;
}

.gallery__img{
  padding: 1rem;
  background-image: url('/Assets/90s\ pattern.jpg');
  background-size: 50%;
  width: 600px;
  height: auto;
}

.gallery__description{
  color: white;
  background-color: black;
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media (min-width: 35rem) {
  .gallery{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60rem) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
}