@import '/Styles/CSS-Reset.css';
@import '/Styles/Global-Layout.css';
@import '/Styles/Global-Styles.css';

/* COMPONENTS */

.main-gallery{
  background-color: var(--accent-primary);
  display: flex;
  align-items: flex-start;
}

@media (min-width: 75rem) {
  .main-gallery{
    align-items: center;
  }
}

.main-gallery__wrapper{ 
  display: grid;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  margin: 1rem auto 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 35rem) {
  .main-gallery__wrapper{
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto 2rem;
  }
}

@media (min-width: 75rem) {
  .main-gallery__wrapper{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-gallery__item{
  max-width: 600px;
}

.main-gallery__img{
  padding: 1rem;
  background-image: url('/Assets/90s\ pattern.jpg');
  background-size: 50%;
  width: 600px;
  height: auto;
  border: 5px solid black;
}

.main-gallery__description{
  color: white;
  background-color: black;
  text-align: center;
  padding: 1rem;
}

