@import '/Styles/CSS-Reset.css';
@import '/Styles/Global-Layout.css';
@import '/Styles/Global-Styles.css';

/* LOCAL RESET */

input, textarea{
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  padding: 0.5rem;
}

label{
  display: block;
  margin-bottom: 0.2rem;
}

/* COMPONENTS */

.main-contact{
  background-color: var(--color-primary);
}

@media (min-width: 35rem) {
  .main-contact{
    padding-top: 2rem;
  }
}

.main-contact__wrapper {
  margin: 0 auto 0;
  width: 100%;
  padding: 2rem 1rem;
}

@media (min-width: 35rem) {
  .main-contact__wrapper {
    width: 80%;
  }
}

.main-contact__form{
  border: 1px dotted rgba(170, 170, 170, 0.603);
  padding: 1rem;
}

@keyframes appear {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.title{
  text-align: center;
  transition: all 1s; 
  animation-name: appear;
  animation-duration: 1s;
}

.main-contact__title {
  color: white;
  box-shadow: 5px 5px black;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--color-secondary);
  animation-name: appear;
  animation-duration: 1s;
}
@media (min-width: 35rem) {
  .main-contact__title{
    display: inline-block;
    padding: 0.5rem 3rem;
  }
}

.main-contact__description{
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.input-fullwidth{
  width: 100%;
}

.file-upload{
  font-size: 0.8rem;
  background-color: white;
  border: none;
  margin-bottom: 2rem;
  width: 70%;
}

.terms-section{
  margin-bottom: 2rem;
}

.terms-section__checkbox, .terms-section__label {
  display: inline;
}

.form-button{
  display: block;
  margin: 0 auto;
  color: white;
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  border-style: none;
  border-radius: 25px;
  font-family: "Share Tech", sans-serif;
  font-size: 1.5rem;
}

.form-button:hover {
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  background-color: #9c02a1;
}



