@import '/Styles/CSS-Reset.css';
@import '/Styles/Global-Layout.css';
@import '/Styles/Global-Styles.css';


/* COMPONENTS */

@keyframes appear {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

input, textarea{
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  padding: 0.5rem;
}

label{
  display: block;
  margin-bottom: 0.2rem;
}

.contact__wrapper {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 3rem;
  padding: 2rem 1rem;
  background-color: var(--color-primary);
  
}

.contact__wrapper form{
  border: 1px dotted rgba(170, 170, 170, 0.603);
  padding: 1rem;
}

.title{
  text-align: center;
  transition: all 1s;
  animation-name: appear;
  animation-duration: 1s;
}

.main__h1 {
  color: white;
  box-shadow: 5px 5px black;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--color-secondary);
  animation-name: appear;
  animation-duration: 1s;
}

.main__p{
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.fullwidth{
  width: 100%;
}

.terms{
  margin-bottom: 2rem;
}

.terms__child {
  display: inline;
}

button{
  display: block;
  margin: 0 auto;
  color: white;
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  border-style: none;
  border-radius: 5px;
  font-family: "Share Tech", sans-serif;
  font-size: 1.5rem;
}

button:hover {
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  background-color: #9c02a1;
}



