* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  margin: 4rem 0 0 0;
  background-color: var(--accent-secondary);
}

@media (min-width: 60rem) {
  body{
    margin: 0;
  }
}


img {
  display: block;
  max-width: 100%;
}