* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  margin: 6rem 0 0 0;
  background-color: var(--accent-primary);
  background-image: url('https://media.giphy.com/media/xUOwGcu6wd0cXBj5n2/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}