:root {
  --color-primary: #fff5e4;
  --color-secondary: #77037B;
  --accent-primary: #009FBD;
  --accent-secondary: #210062;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "Share Tech", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}