:root {
  --color-primary: #fff5e4;
  --color-primary-transparent: #fff5e4e3;
  --color-secondary: #77037B;
  --accent-primary: #009FBD;
  --accent-primary-transparent: #50d4eee3;
  --accent-secondary: #210062;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "Share Tech", sans-serif;
}

p, label, textarea {
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
  font-size: 1.4rem
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
