.wrap__body {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 60rem) {
  .wrap__body{
    grid-template-columns: 300px 3fr;
    height: 100vh;
    max-width: 80rem; 
    margin: 0 auto;
  }
}

.wrapper{
  max-width: 80rem;
  margin: 0 auto;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 1.5rem;
  height: 4rem;
  font-family: "Share Tech", sans-serif;
  z-index: 10;
}


.nav__wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
}

.nav__container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}


/* nav left part */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo__text {
  font-weight: 900;
  color: white;
}

.logo__image {
  width: 3rem;
}

input#activate-player {
  display: none;
}

.music__player {
  position: absolute;
  width: 100vw;
  top: 4rem;
  left: 0;
  list-style: none;
  visibility: hidden;
}

#activate-player:checked ~ .music__player {
  visibility: visible;
}

/* nav right part */

#nav-menu{
  display: none;
}

.nav__hamburger img {
  width: 2rem;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  width: 100%;
  top: 3.9rem;
  right: 0;
  background-color: var(--color-primary);
  padding: 2rem 1rem 2rem 1rem;
  border-bottom-left-radius: 25px;
}

.nav__list a:hover {
  text-decoration: underline;
}

.nav__item1, .nav__item2, .nav__item3  {
  border-bottom: 1px solid rgb(161, 161, 161);
  padding-bottom: 2rem;
}

footer{
  max-width: 80rem;
  margin: 0 auto;
}

@media (min-width: 35rem) {
  .nav__hamburger{
    display: none;
  }

  .nav__container {
    width: 95%;
  }

  #nav-menu{
    display: flex;
    padding: 0;
  }

  .nav__list{
    flex-direction: row;
    position: inherit;
    align-items: center;
    background-color: transparent;
    gap: 0.5rem;
    justify-content: flex-end;
    font-size: 1rem;
  }

  .nav__list a {
    color: white;
  }

  .nav__item1, .nav__item2, .nav__item3  {
    border-bottom: none;
    padding-bottom: 0;
  }

}

@media (min-width: 60rem) {

  header{
    overflow:hidden;
  }

  nav{
    position: relative;
    flex-direction: column;
    height: 100vh;
  }

  .nav__container{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 2rem;
  }

  .nav__list{
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .nav__list a{
    font-size: 1.5rem;
  }

  .logo{
    padding: 0 0 0 0.6rem;
  }

  .logo__text{
    font-size: 2rem;
  }

  .music__player{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80rem;
  }

  main{
    overflow: scroll;
  }

}