@import 'CSS-Reset.css';
@import 'Global-Styles.css';
@import 'Global-Layout.css';


/* COMPONENTS */
/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: var(--color-primary);
  width: 90%;
  height: 30rem;
  box-shadow: 7px 7px var(--accent-secondary);
  margin: 0 auto 3rem;
}

.hero__image {
  position: absolute;
  height: 100%;
  width: auto;
  flex-shrink: 0;
  transition: all 1s;
}

.hero__wrap {
  width: 90%;
  margin: 0 auto;
  z-index: 10;
}

.hero__cta h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
  background-color: #210062d4;
  padding: 1rem;
  box-shadow: 5px 5px black;
  margin-bottom: 2.5rem;
}

.hero__cta a {
    color: white;
    background-color: var(--color-secondary);
    padding: 0.5rem 2rem;
    border-style: none;
    border-radius: 5px;
    font-family: "Share Tech", sans-serif;
    font-size: 1.5rem;
    transition: all 1s;
}

.hero__cta a:hover {
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  background-color: #2f008d;
}

/* main */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 4rem 2rem;
}

.introduction {
  background-color: var(--color-primary);
  box-shadow: 7px 7px yellow;
}

.main__h1 {
  color: white;
  box-shadow: 5px 5px black;
  padding: 0.5rem 0.5rem;
  font-size: 2rem; 
  margin-bottom: 1rem;
}

.introduction h1 {
  background-color: var(--color-secondary);
}

.feature1 {
  background-color: yellow;
  box-shadow: 7px 7px var(--accent-secondary);
}

.feature1 h1{
  background-color: var(--color-secondary);
}





