@import 'CSS-Reset.css';
@import 'Global-Styles.css';
@import 'Global-Layout.css';


/* COMPONENTS */
/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  background-color: transparent;
  width: 90%;
  margin: 0 auto 3rem;
  background-color: #77037b6b;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 0 2rem 0;
}

.hero img {
  height: 20rem;
  animation-name: appear;
  animation-duration: 3s;

}

@keyframes appear {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.hero__wrap {
  width: 90%;
  margin: 0 auto;
}

.hero__cta h1 {
  color: white;
  padding: 1rem;
  margin-bottom: 0.2rem;
  animation-name: appear;
  animation-duration: 1s;
}

.h1__discman {
  font-size: 4rem;
}

.hero__cta a {
    color: white;
    background-color: var(--accent-secondary);
    padding: 0.5rem 2rem;
    border-style: none;
    border-radius: 5px;
    font-family: "Share Tech", sans-serif;
    font-size: 1rem;
    animation-name: appear;
    animation-duration: 2s;
}

.hero__cta a:hover {
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
}

/* main */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 4rem 2rem;
}

.introduction {
  background-color: var(--color-primary-transparent);
  box-shadow: 7px 7px var(--accent-primary);
  border-bottom-left-radius: 25px;
}

.main__h1 {
  color: white;
  box-shadow: 5px 5px black;
  padding: 0.5rem 0.5rem;
  font-size: 2rem; 
  margin-bottom: 1rem;
  background-color: var(--color-secondary);
}


.feature1 {
  background-color: var(--accent-primary-transparent);
  box-shadow: 7px 7px var(--color-primary);
  border-bottom-left-radius: 25px;
}

.feature1 h1{
  background-color: var(--color-secondary);
}





